.person-layout-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person-info {
    font-family: Arial, sans-serif;
    color: #333;
}

.person-info h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.person-info p {
    margin: 5px 0;
    font-size: 20px;
}
